<h2>イベントグループの詳細</h2>

<%= link_to '一覧へ戻る', event_groups_path %>

<%= link_to 'イベント一覧', polymorphic_path([@event_group, :events]) %>

<div>
  <h3><%= @event_group.name %></h3>
  <h4>説明<p><%= @event_group.description %></p></h4>
  <h4>グループ画像</h4>
  <%= image_tag @event_group.image_url, size: "400x200" %>

  <div>
  <%= link_to '管理者管理', event_group_event_group_admins_path(@event_group) %>
  </div>
</div>