<%= turbo_frame_tag 'form' do %>
  <%= render "shared/error_messages", resource: event_group_admin %>

  <%= form_with model: event_group_admin, url: event_group_event_group_admins_path(event_group), class: "space-y-4" do |form| %>
    <%= form.hidden_field :event_group_id, value: event_group.id %>

    <div>
      <label class="block text-sm font-medium text-gray-700">ユーザーを選択</label>
      <%= form.collection_select :user_id, User.all, :id, :email, { prompt: "選択してください" }, class: "block w-full mt-1 p-2 border rounded-lg" %>
    </div>

    <div class="text-right">
      <%= form.submit '追加', class: "px-4 py-2 bg-[var(--color-pastel-blue)] filter hover:brightness-90 text-white rounded-lg" %>
    </div>
  <% end %>
<% end %>
